
/*globals*/
.container {
  max-width: 1200px;  /* Increased max-width for better content display */
  margin: 50px auto;  /* Increased margin for better spacing */
  padding: 50px;      /* Increased padding for better inner spacing */
  background: linear-gradient(to bottom right, #ffffff, #f5f5f5); /* Subtle gradient background */
  border-radius: 12px; /* Increased border radius for modern look */
  box-shadow: 
  0 8px 16px rgba(0, 0, 0, 0.1),
  0 4px 8px rgba(0, 0, 0, 0.05); /* Multi-layered shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for any changes */
  text-align: center;
  font-family: 'TH Sarabun New', sans-serif; /* เรียกใช้ฟอนต์ */
  }


/* ข้อความข้างใน */
.paragraph {
 
  font-size: 20px;
  line-height: 1.6;
  color: #555;
  margin: 10px 0;
  display: flex;
  align-items:justify;  /* จัดข้อความแนวตั้ง */
  
}


.paragraph strong {
  width: 300px; /* กำหนดความกว้างคงที่สำหรับคอลัมน์ซ้าย */
  text-align: left; /* จัดข้อความในคอลัมน์ซ้ายให้อยู่ชิดขวา */
  padding-right: 50px; /* เพิ่มช่องว่างระหว่างข้อความซ้ายกับขวา */

}

.paragraph span {
  text-align:justify; /* จัดข้อความในคอลัมน์ขวาให้อยู่ชิดซ้าย */
  flex: 1; /* ทำให้คอลัมน์ขวาขยายอัตโนมัติ */
  
}

/* เพิ่ม style เพื่อป้องกันการย่อขยายบนอุปกรณ์มือถือ */
@media screen and (max-width: 768px) {
  .popupContent {
    width: 95%;
    max-width: none;
    height: auto;
    max-height: 90vh;
  }
}

/*ปุ่มสามเหลี่ยม*/
.toggleButton {
  font-size: 10px; /* ขนาดของสามเหลี่ยม ▼ */
  color: #000;
  background: none;
  border:none;
  cursor: pointer;
  padding-left: 5px;
  line-height: 1; /* จัดความสูงของสามเหลี่ยมให้อยู่ในระดับเดียวกับข้อความ */
}
/*/ปุ่มสามเหลี่ยม*/

/*ผู้ร่วมเดินทาง*/
.lb1{
  font-family: 'TH Sarabun New', sans-serif; /* เรียกใช้ฟอนต์ */
  color:  rgba(103, 102, 102, 0.996);
  cursor: pointer;
  display: flex; 
  justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */ 
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
  text-decoration: underline;
  border:#555;
  margin: 3% auto 3%;
  
}

.after {
  content: "";
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.5); /* กำหนดสไตล์ของเส้นคั่นให้บางและจางลง */
  width: 100%; /* กำหนดความยาวของเส้น */
  margin: 30px auto; /* กำหนดระยะห่างบน-ล่างและจัดให้อยู่กลางหน้า */
}


.tp{
  text-align: center;
  font-family: 'TH Sarabun New', sans-serif; /* เรียกใช้ฟอนต์ */
  margin: 20px 0;
}

.total_budget456{
  padding-left: 5px;
  
}

.total_budget123{
  text-align:justify;
  display: flex;  
}
/*ผู้ร่วมเดินทาง*/

